{% extends 'app/index.html' %}

{% block styles %}
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
{% endblock %}

{% block title %}Study Bible - Verses{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center w-100 mb-5">
        <div id="div-1">
            <div class="text-white" id="chapter-title"></div>
            <div class="w-100 d-flex flex-row justify-content-center">
                <a class="btn-primary hover-float bg-blue-dark btn text-white fs-5 m-2 w-25" id="btn-go" onclick="goToPreviousChapter()">&lt</a>
                <a class="btn-primary hover-float bg-blue-dark btn text-white fs-5 m-2 w-25" id="btn-back" onclick="goToNextChapter()">&gt</a>
            </div>
            <div id="verses">
                <div id="verses-div"></div>
            </div>
        </div>
        <div id="div-2">
            <div class="text-white">
                <h2>Capítulos:</h2>
            </div>
            <div id="chapters"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script>
        var book_id = JSON.parse("{{book_id|escapejs}}");
        var chapter_num = parseInt(JSON.parse("{{chapter_num|escapejs}}"));
    </script>
    <script type="text/javascript" src="{% static 'js/verses.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
{% endblock %}